{% extends 'leadership/base.html' %} 
{% load static %}

<!doctype html>
<html lang="en">

 
{% block title %}Leadership{% endblock %}


{% block profile %}
    <div class="container">
        <div class="row">
            {% for leader in leaders.all %}
            <div class="col-md-4">
                <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                    <img src="{{leader.image.url}}" alt="Man with backpack" class="d-block w-full">

                    <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                            {{ leader.title}}
                        </p>

                        <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                            {{leader.first_name}} {{ leader.last_name}}
                        </h2>

                        <p class="mb-1">
                            {{ leader.description|truncatewords:20}}
                        </p>

                    </div>

                    <a href="{% url 'bio' leader.id %}" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                    Read More
                    </a>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>


    {% endblock %}




</html>